#!/usr/bin/env python
PACKAGE = "carbot"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("left_zone_min",  int_t,   0, "Left wall zone min angle (deg)",   15,   0, 180)
gen.add("left_zone_max",  int_t,   0, "Left wall zone max angle (deg)",   120,  0, 180)
gen.add("right_zone_min", int_t,   0, "Right wall zone min angle (deg)", -120, -180, 0)
gen.add("right_zone_max", int_t,   0, "Right wall zone max angle (deg)", -15, -180, 0)

gen.add("wall_max_range",    double_t, 0, "Max range dikira dinding tunnel (m)",  0.42, 0.10, 2.00)
gen.add("tunnel_max_width",  double_t, 0, "Lebar max tunnel left+right (m)",      0.75, 0.20, 2.00)
gen.add("tunnel_min_width",  double_t, 0, "Lebar min tunnel left+right (m)",      0.25, 0.05, 1.00)
gen.add("min_wall_dist",     double_t, 0, "Jarak minimum dinding sisi (m)",       0.20, 0.05, 0.50)
gen.add("front_stop_dist",   double_t, 0, "Jarak stop/curve depan (m)",           0.45, 0.10, 1.00)
gen.add("front_warn_dist",   double_t, 0, "Jarak amaran depan - slow + steer (m)",0.65, 0.20, 2.00)

gen.add("kp", double_t, 0, "PID Proportional gain", 1.4, 0.0, 5.0)
gen.add("ki", double_t, 0, "PID Integral gain",      0.01, 0.0, 1.0)
gen.add("kd", double_t, 0, "PID Derivative gain",    0.8, 0.0, 5.0)

gen.add("kp_wall", double_t, 0, "Wall bias gain",         6.0, 0.0, 15.0)
gen.add("kp_front",double_t, 0, "Front avoidance gain",   4.0, 0.0, 15.0)

gen.add("max_steer",      double_t, 0, "Steering maksimum",      1.0,  0.1, 1.0)
gen.add("steer_deadzone", double_t, 0, "Deadzone center error",  0.02, 0.0, 0.10)
gen.add("steer_sign",     double_t, 0, "Sign angular.z: +1=normal, -1=invert", -1.0, -1.0, 1.0)

gen.add("tunnel_speed", double_t, 0, "Speed bila lurus",    0.12, 0.05, 0.50)
gen.add("min_speed",    double_t, 0, "Speed minimum curve", 0.05, 0.05, 0.30)

gen.add("lp_alpha",       double_t, 0, "Low pass filter - center steering", 1.00, 0.05, 1.0)
gen.add("lp_alpha_curve", double_t, 0, "Low pass filter - curve steering",  1.00, 0.05, 1.0)

gen.add("hysteresis_frames", int_t, 0, "Frame consecutive untuk state change", 3, 1, 10)

gen.add("motor_enabled", bool_t, 0, "Enable motor (false=steering test sahaja)", True)

exit(gen.generate(PACKAGE, "tunnel_nav", "TunnelNav"))
